version: 2.1

matrix_goversions: &matrix_goversions
  matrix:
    parameters:
      goversion: ["18", "19", "20"]

default_goversion: &default_goversion "20"

orbs:
  bats: circleci/bats@1.0.0

jobs:
  test:
    parameters:
      goversion:
        type: string
        default: *default_goversion
    docker:
      - image: cimg/go:1.<< parameters.goversion >>
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-go-mod-{{ checksum "go.sum" }}
      - run: make test
      - save_cache:
          key: v1-go-mod-{{ checksum "go.sum" }}
          paths:
            - /home/circleci/go/pkg/mod

  smoke_test:
    machine:
      image: ubuntu-2004:202107-02
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - bats/install
      - run:
          name: What's the BATS?
          command: |
            which bats
            bats --version
      - run:
          name: Smoke Test
          command: make smoke-sdk
      - store_test_results:
          path: ./smoke-tests/
      - store_artifacts:
          path: ./smoke-tests/report.xml
      - store_artifacts:
          path: ./smoke-tests/collector/data-results
      - run:
          name: Extinguish the flames
          command: make unsmoke

  publish_github:
    docker:
      - image: cibuilds/github:0.13.0
    steps:
      - run:
          name: "Publish Release on GitHub"
          command: |
            echo "Creating GitHub release for tag ${CIRCLE_TAG}"
            ghr -draft -n ${CIRCLE_TAG} -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG}

workflows:
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - test:
          <<: *matrix_goversions
      - smoke_test:
          requires:
            - test

  build:
    jobs:
      - test:
          <<: *matrix_goversions
          filters:
            tags:
              only: /.*/
      - smoke_test:
          requires:
            - test
          filters:
            tags:
              only: /.*/
      - publish_github:
          context: Honeycomb Secrets for Public Repos
          requires:
            - smoke_test
          filters:
            tags:
              only: /^v[0-9].*/
            branches:
              ignore: /.*/
